<a href="https://colab.research.google.com/github/Ayush04H/Python-Basics/blob/main/list%26tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List**

In [1]:
animals=[]
print(animals)

[]

In [2]:
animals=['a','b','c','d','e','f']
print(animals)

['a', 'b', 'c', 'd', 'e', 'f']

In [3]:
animals[0]

'a'

In [4]:
list1=[10,20.4,'Hello',54]
list1[2]=60
list1.insert(4,10)
list1.sort()
list1.append(12)
list1.reverse()
list1

[12, 60, 54, 20.4, 10, 10]

In [5]:
num=[1,2,3,4,5,9,7,8,9,10]
del num[2]
num

[1, 2, 4, 5, 9, 7, 8, 9, 10]

In [6]:
del num

In [7]:
list2=[[10,20],[40,30]]
list2

[[10, 20], [40, 30]]

In [8]:
print(list2[0])
print(list2[1])
print(list2[0][0])
print(list2[0][1])
print(list2[1][0])
print(list2[1][1])

[10, 20]
[40, 30]
10
20
40
30

In [9]:
num=[10,20,30,40,50,60,70,80,90,100]
for i in num:
  print(i)

10
20
30
40
50
60
70
80
90
100

In [10]:
sum=0
for i in num:
  sum+=i

print(sum)

550

# **Tuple**

In [11]:
t1=('a','b','c','cd','e','c')
print(t1)
print(type(t1))

('a', 'b', 'c', 'cd', 'e', 'c')
<class 'tuple'>

In [12]:
t2=((1,2,3),(4,5,6),(7,8,9))
print(t2)
print(t2[0])
print(t2[0][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
3

# **Sequences in python**

length

In [13]:
a="Ayush"
b=[[1,2],[3,4],[9,80,8],[8,9,6,3,5,8,4,5],[8,9,6,3,25,7,4,1,45]]
c=((5,6,9,0,8,9),(7,8),(9,8),(11,12),(12,13,14))
print(len(a))
print(len(b))
print(len(c[0]))

5
5
6

select

In [14]:
print(a[0])
print(b[0])
print(c[0])

A
[1, 2]
(5, 6, 9, 0, 8, 9)

Slicing

In [15]:
print(a[1:4])
print(b[0:4])
print(c[1:3])

yus
[[1, 2], [3, 4], [9, 80, 8], [8, 9, 6, 3, 5, 8, 4, 5]]
((7, 8), (9, 8))

Count

In [18]:
b=[1,2,3,4,5,6,3,5,6,9,3]

In [19]:
print(a.count('A'))
print(b.count(3))
print(c.count(12))

1
3
0

In [21]:
'A' in a
'a' in a

False